:root {
	--ff-primary: '';

	--clr-bg: #E0FCFA;
}

body {
	background-color: var(--clr-bg);
	margin: 5%;
}

.content {
	display: grid;
	grid-template-areas: "gridOne gridTwo gridThree";
	grid-column-gap: 10px;
	width: 100%;
}

#gridOne {
	overflow: hidden;
	grid-area: gridOne;
	border: solid 1px black;
	background-color: white;
	width: 100%;
}

#gridTwo {
	overflow: hidden;
	grid-area: gridTwo;
	background-color: #E0FCFA;
	width: 100%;
}

#gridThree {
	overflow: hidden;
	grid-area: gridThree;
	border: solid 1px black;
	background-color: white;
	width: 100%;
}

.tile-container div {
	display: flex;
}

.tile-container .tile {
	width: 62px;
	height: 62px;
	border: 2px solid#3a3a3c;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2px;
}
