:root {
	--ff-primary: '';

	--clr-bg: #E0FCFA;
}

body {
	background-color: var(--clr-bg);
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
	font-family: sans-serif;
}

img {
	width: 60px;
	float: left;
	margin: 10px;
	margin-bottom: 5px;
	margin-left: 0px;
}

#about-text {
	display: grid;
	grid-template-columns: auto auto auto;
}

#about-text p {
	border: 2px solid #0E4D40;
	padding: 20px;
	background-color: white;
}

h1 {
	padding-top: 20px;
	font-size: 45px;
	font-weight: normal;
	margin-bottom: 8px;
}

/*
.content {
	display: grid;
	grid-template-areas: "gridOne gridTwo gridThree";
	grid-column-gap: 30px;
	width: 100%;
}*/

.content {
	margin-top: 20px;
}


#links {
	margin-top: 20px;
}

#gridOne {
	overflow: hidden;
	grid-area: gridOne;
	border: solid 2px #279186;
	border-radius: 20px;
	background-color: white;
	max-width: 500px;
	float: left;
	margin-right: 30px;
	margin-bottom: 30px;
	clear: both;
}

#message, #subHeading1 {
	padding: 15px;
	padding-top: 5px;
}

#subHeading1 {
	padding-bottom: 0px;
}

#message {
	padding-top: 0px;
	font-size: 18px;
	font-family: monospace;
	overflow-wrap: break-word;
}

#gridTwo {
	overflow: hidden;
	grid-area: gridTwo;
	background-color: #E0FCFA;
	float: left;
	margin-right: 30px;
	margin-bottom: 30px;
}

#keyInput {
	padding: 10px;
	border-radius: 7px;
	border: solid 2px #279186;
	margin-bottom: 10px;
	font-size: 17px;
	width: 150px;
}

#keyInput:focus {
	outline: none;
}

#submitBtn, .link {
	padding: 10px;
	border-radius: 7px;
	border: solid 2px #0E4D40;
	background-color: #3F5CF9;
	color: white;
	font-size: 17px;
}

a {
	color: white;
}

#links {
	float: none;
	margin-bottom: 10px;
	margin-top: 0px;
}

.link {
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 50px;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 10px;
	/*float: left;*/
}

a:link {
	text-decoration: none;
}

#link1 {
	float: left;
}

#link2 {
	float: left;
}


#submitBtn:hover {
	background-color: #649BFD;
}

#gridThree {
	overflow: hidden;
	grid-area: gridThree;
	border: solid 2px #279186;
	border-radius: 20px;
	background-color: white;
	float: left;
	margin-bottom: 30px;
}

#tile-container {
	margin-left: 0px;
	padding-left: 0px;
}

.tile-container div {
	display: flex;
}

.tile-container .tile {
	background-color: white;
	width: 50px;
	height: 50px;
	border: 2px solid #279186;
	border-radius: 15px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2px;
	margin-bottom: 5px;
	font-size: 20px;
}

.tile-container .tile:hover, .tile-container .selected {
	background-color: #EDEFEE;
	border-width: 3px;
}

table {
	padding: 10px;
	width: 200px;
	text-align: left;
}

.tableHeader1 {
	padding-right: 5px;
}

th {
	font-size: 14px;
}

span {
	font-weight: bold;
}